<footer class="site-footer">
  <data class="u-url" rel="me" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col">
        <p class="feed-subscribe">
          <a href="{{ 'feed.xml' | relative_url }}" onclick="window.fathom.trackGoal('403LYJQK', 0);">
            <svg class="svg-icon orange">
              <use xlink:href="{{ 'assets/minima-social-icons.svg#rss' | relative_url }}"></use>
            </svg><span>Subscribe to feed</span>
          </a>
        <ul class="contact-list">
            <li><a href="{{ "/blogroll" | relative_url }}">Blogroll</a></li>
            <li><a href="{{ "/privacy" | relative_url }}">Privacy</a></li>
            <li><a href="{{ "/sustainability" | relative_url }}">Sustainability</a></li>
            <li><a href="https://aboutfeeds.com" target="_blank">What is the feed?</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <span class="p-note">
          <p>{{ site.description | escape }}</p>
        </span>
        <p>This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.</p>
        <div id="wcb" class="carbonbadge"></div>
        <script src="https://unpkg.com/website-carbon-badges@1.1.1/b.min.js" defer></script>
      </div>
    </div>

    <div class="social-links">
      {%- include social.html -%}
    </div>

  </div>

</footer>
