---
layout: default
---

<section class="posts">
<h2>On {{page.tag | downcase }}</h2>
  <div id="tag-container">
    {% assign all_tags = "" %}
    {% for post in site.posts %}
      {% for tag in post.tags %}
        {% assign all_tags = all_tags | append: tag | append: "," %}
      {% endfor %}
    {% endfor %}
    {% assign tag_array = all_tags | split: "," | uniq %}
    {% for tag in tag_array %}
      {% if tag != "" %}
        <span id="tag">
          <a href="/tag/{{ tag | slugify }}" class="{% if tag == page.tag %}active{% endif %}">{{ tag }}</a>
        </span>
      {% endif %}
    {% endfor %}
  </div>
    <ul>
      {% for post in site.posts %}
      {% if post.tags contains page.tag %}
      <li><a class="post" href="{{ post.url }}">{{ post.title }}</a><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%d-%m-%Y" }}</time></li>
      {% endif %}
      {% endfor %}
    </ul>
	
</section>